In [2]:
import pandas as pd


dfProdutos = pd.read_csv('product_dim.csv')
dfProdutos = dfProdutos[dfProdutos['current_ind'] == 'Y']
display(dfProdutos)
dfProdutos.to_csv('product_dim.csv', index=False)

dfVendas = pd.read_csv('sales_transactions.csv')
display(dfVendas)

,product_id,product_name,product_price,effective_start_date,effective_end_date,current_ind
102,582,iPhone,620.00,2019-12-01,9999-12-31,Y
103,216,LG Dryer,550.00,2019-12-01,9999-12-31,Y
104,168,20in Monitor,99.99,2019-12-01,9999-12-31,Y
105,614,Google Phone,550.00,2019-12-01,9999-12-31,Y
106,394,Flatscreen TV,250.00,2019-12-01,9999-12-31,Y
107,826,ThinkPad Laptop,929.00,2019-12-01,9999-12-31,Y
108,443,27in FHD Monitor,109.00,2019-12-01,9999-12-31,Y
109,277,Wired Headphones,11.99,2019-12-01,9999-12-31,Y
110,968,LG Washing Machine,495.00,2019-12-01,9999-12-31,Y
111,422,Macbook Pro Laptop,1649.00,2019-12-01,9999-12-31,Y
112,715,USB-C Charging Cable,10.99,2019-12-01,9999-12-31,Y
113,406,AA Batteries (4-pack),4.29,2019-12-01,9999-12-31,Y
114,877,27in 4K Gaming Monitor,359.99,2019-12-01,9999-12-31,Y
115,493,34in Ultrawide Monitor,399.99,2019-12-01,9999-12-31,Y
116,692,AAA Batteries (4-pack),2.89,2019-12-01,9999-12-31,Y
117,953,Apple Airpods Headphones,139.00,2019-12-01,9999-12-31,Y
118,435,Golf Handheld GPS Caddie,350.00,2019-12-01,9999-12-31,Y
119,981,Lightning Charging Cable,10.99,2019-12-01,9999-12-31,Y
120,467,Bose SoundSport Headphones,104.99,2019-12-01,9999-12-31,Y

        order_id  product_id  cust_id  product_quantity  order_date
0         146740         614   121960                 1  2019-01-24
1         141749         394   113809                 1  2019-01-24
2         144400         953   102255                 1  2019-01-24
3         148898         715   190891                 1  2019-01-24
4         143260         467   108376                 1  2019-01-24
...          ...         ...      ...               ...         ...
185945    267890         692   206766                 3  2019-10-06
185946    271869         692   203170                 3  2019-10-06
185947    266115         692   144006                 3  2019-10-06
185948    277783         692   194323                 4  2019-10-06
185949    274286         692   208841                 5  2019-10-06

[185950 rows x 5 columns]

In [ ]:
product_price_dict = dfProdutos.set_index('product_id')['product_price'].to_dict()
print(product_price_dict)

dfVendas['PrecoTotal'] = dfVendas['product_id'].map(product_price_dict) * dfVendas['product_quantity']
dfVendas.to_csv('sales_transactions.csv', index=False)
display(dfVendas)


print(dfVendas.value_counts('PrecoTotal'))

{582: 620.0, 216: 550.0, 168: 99.99, 614: 550.0, 394: 250.0, 826: 929.0, 443: 109.0, 277: 11.99, 968: 495.0, 422: 1649.0, 715: 10.99, 406: 4.29, 877: 359.99, 493: 399.99, 692: 2.89, 953: 139.0, 435: 350.0, 981: 10.99, 467: 104.99}

,order_id,product_id,cust_id,product_quantity,order_date,PrecoTotal
0,146740,614,121960,1,2019-01-24,550.00
1,141749,394,113809,1,2019-01-24,250.00
2,144400,953,102255,1,2019-01-24,139.00
3,148898,715,190891,1,2019-01-24,10.99
4,143260,467,108376,1,2019-01-24,104.99
...,...,...,...,...,...,...
185945,267890,692,206766,3,2019-10-06,8.67
185946,271869,692,203170,3,2019-10-06,8.67
185947,266115,692,144006,3,2019-10-06,8.67
185948,277783,692,194323,4,2019-10-06,11.56
185949,274286,692,208841,5,2019-10-06,14.45